<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
</head>

<body class="home">
    <main class="home__main">
        <section class="home__main__section">

        </section>
        <section class="home__main__section--productos">
            <article class="home__section__article--producto">
                <img src="" alt="">
            </article>
        </section>
    </main>
</body>

</html>