<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="/img/Posiblelogogp82.jpeg" alt="logoimage">
        </a>
    </div>
    <nav>
        <article class="topnav">
            <div class="search">
                <input type="text" placeholder="Que estas buscando?">
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="cart">
                <a href="/productCart">
                <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </article>
        <div class="listas">
            <a href="">Ropa</a>
            <a href="">Cascos</a>
            <a href="">Bicis</a>
        </div>
        <div class="site">
            <span>
                <a href="">Sobre nosotros</a>
                <a href="">Medios de pago</a>
                <a href="">Contacto</a>
                <a href="">Ayuda</a>
            </span>
        </div>
        <div class="login_register">
            <span>
                <a href="">Ingresa</a>
                <a href="">Registrate</a>
            </span>
        </div>
    </nav>
</header>

<body class="home">
    <main class="home__main">
        <section class="home__main__section">
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide banner__home"><img src="/img/banner-bici.jpg" alt=""></div>
                    <div class="swiper-slide banner__home"><img src="/img/Banner-Categor_1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/banner-mobile.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/Banner-Bicicletas-Monta.jpg" alt=""></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </section>
        <section class="home__main__section--productos">
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Venzo-Raptor-Ex-R29-27-veloc-freno.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/22xtcadvancedsl291.png" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Venzo-Raptor-Ex-R29-27-veloc-freno.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/22xtcadvancedsl291.png" alt="">
                    <div class="producto__descripcion">
                        <h3>Giant XTC Advanced SL 29</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
        </section>
        <h2 class="home__titulos">Acompaña tu compra</h2>
        <section class="home__main__section--productos">
            <article class="home__section__article--producto">
                <a href="/productDetail"></a>
                <img src="/img/1523883443_639903_1523884200_sumario_normal.jpg" alt="">
                <div class="producto__descripcion">
                    <h3>Glangeh Luz Recargable</h3>
                    <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                    <h4>$$$</h4>
                </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail"></a>
                <img src="/img/2OJ3SEUBD5HZJBDBPFTDA42IMA.jpg" alt="">
                <div class="producto__descripcion">
                    <h3>Casco Bicicleta Skate</h3>
                    <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                    <h4>$$$</h4>
                </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Accesorios-para-Bicicletas.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Claxon moderlo bicicleta</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Ajustador rayos bicicleta .jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Ajustador rayos</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail"></a>
                <img src="/img/1523883443_639903_1523884200_sumario_normal.jpg" alt="">
                <div class="producto__descripcion">
                    <h3>Glangeh Luz Recargable</h3>
                    <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                    <h4>$$$</h4>
                </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail"></a>
                <img src="/img/2OJ3SEUBD5HZJBDBPFTDA42IMA.jpg" alt="">
                <div class="producto__descripcion">
                    <h3>Casco Bicicleta Skate</h3>
                    <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                    <h4>$$$</h4>
                </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Accesorios-para-Bicicletas.jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Claxon moderlo bicicleta</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
            <article class="home__section__article--producto">
                <a href="/productDetail">
                    <img src="/img/Ajustador rayos bicicleta .jpg" alt="">
                    <div class="producto__descripcion">
                        <h3>Ajustador rayos</h3>
                        <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                        <h4>$$$</h4>
                    </div>
                </a>
            </article>
        </section>
    </main>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        const progressCircle = document.querySelector(".autoplay-progress svg");
        const progressContent = document.querySelector(".autoplay-progress span");
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            on: {
                autoplayTimeLeft(s, time, progress) {
                    progressCircle.style.setProperty("--progress", 1 - progress);
                    progressContent.textContent = `${Math.ceil(time / 1000)}s`;
                }
            }
        });
    </script>
</body>
<footer>
    <div class="text">
        <h3>CICLOMUNDO</h3>
    </div>
    <div class="listas_footer">
        <span>
            <a href="">Terminos y condiciones</a>
            <a href="">Chatea con nosotros</a>
            <i class="fa-brands fa-whatsapp"></i>
        </span>
    </div>
    <div class="rights">
        <span>
            2023 - Todos los derechos reservados
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </span>
    </div>
</footer>

</html>