<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title></title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="/images/Posiblelogogp82.jpeg" alt="logoimage">
        </a>
    </div>
    <nav>
        <article class="topnav">
            <div class="search">
                <input type="text" placeholder="Que estas buscando?">
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="user">
                <a href="/login">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="cart">
                <a href="/productCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </article>
        <div class="listas">
            <a href="">Ropa</a>
            <a href="">Cascos</a>
            <a href="">Bicis</a>
        </div>
        <div class="site">
            <span>
                <a href="">Sobre nosotros</a>
                <a href="">Medios de pago</a>
                <a href="">Contacto</a>
                <a href="">Ayuda</a>
            </span>
        </div>
        <div class="login_register">
            <span>
                <a href="/login">Ingresa</a>
                <a href="/register">Registrate</a>
            </span>
        </div>
    </nav>
</header>

<body class="login">
    <main class="main__login">
        <div class="login__titulo">
            <h1>Inicio de sesion</h1>
        </div>
        <section class="section__login">
            <form class="form__login" action="">
                <div class="form__login__box">
                    <label class="form__login__label" for="">Email</label>
                    <input class="form__login__input" type="email" placeholder="Escriba su email">
                </div>
                <div class="form__login__box">
                    <div class="form__login__position">
                        <label class="form__login__label" for="">Contraseña</label>
                        <input class="form__login__input" type="password" placeholder="Escriba su contraseña"><span><i
                                class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>
                <div class="form__login__box">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordame</label>
                    <p>¿Olvidaste tu contraseña? <a class="link__login" href="/"> Haz clic aqui</a></p>
                </div>

                <div class="form__login__button">
                    <button type="submit">Iniciar sesion</button>
                </div>
                <div class="form__login__button">
                    <p>¿No tenés cuenta aún?<a class="link__login" href="/register">Crear cuenta </a></p>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="text">
            <h3>CICLOMUNDO</h3>
        </div>
        <div class="listas_footer">
            <span>
                <a href="">Terminos y condiciones</a>
                <a href="">Chatea con nosotros</a>
                <i class="fa-brands fa-whatsapp"></i>
            </span>
        </div>
        <div class="rights">
            <span>
                2023 - Todos los derechos reservados
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </span>
        </div>
        <div class="newsletter-container">
            <h2>Newsletter</h2>
            <form action="procesar_formulario" method="post">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>
</body>

</html>