<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
</head>

<body class="productDetail">
    <main class="main__product">
        <section class="main__product--section1">
            <article class="main__product--producto">
                <!-- <img src="/img/22xtcadvancedsl291.png" alt=""> -->
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="/img/22xtcadvancedsl291.png" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/Giant_XTC_Advanced_SL_29_1_01a.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/GIANT-XTC-ADVANCED-SL-29-1-BIKE-3.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/xtc_adv_sl_29_showcase_gallery01.jpg" />
                      </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                  <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="/img/22xtcadvancedsl291.png" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/Giant_XTC_Advanced_SL_29_1_01a.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/GIANT-XTC-ADVANCED-SL-29-1-BIKE-3.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="/img/xtc_adv_sl_29_showcase_gallery01.jpg" />
                      </div>
                    </div>
                  </div>
                <!--  -->
            </article>
            <article class="main__product--descripcion">
                <h3>Giant XTC ADVANCED SL 29 1</h3>
                <h2>$ 200.000</h2>
                <p>3 CUOTAS SIN INTERES DE $$$$$$</p>
                <div class="box__compra">
                    <div class="box__pedido">
                        <label class="box__pedido--label" for="">rodado</label>
                        <input class="box__pedido--input" type="text">
                    </div>
                    <div class="box__pedido">
                        <label class="box__pedido--label" for="">color</label>
                        <input class="box__pedido--input" type="text">
                    </div>
                    <!-- </div> -->
                    <div class="box__agregar">
                        <div class="box__agregar--botones">
                            <button class="box__agregar--button1">-</button>
                            <p>1</p>
                            <button class="box__agregar--button2">+</button>
                        </div>
                        <button class="box__agregar--button3">agregar al carrito</button>
                    </div>
                    <div class="box__envio">
                        <input type="text" placeholder=" codigo postal">
                        <button>calcular</button>
                    </div>
                </div>
            </article>
        </section>
    <h2 class="titulos__producto">caracteristicas</h2>
        <section class="main__product--section2">
            <article >
                <h3>Giant XTC ADVANCED SL 29 1</h3>
                <p>
                    Cuadro Expert Alu 29", 148x12, Integrated Headset<br>
                    Horquilla Rock Shox Judy RL Remote Lock 100mm <br>                                  
                    Potencia BH SL 80mm, 31,8mm, +/-6º<br>                                      
                    Dirección BH SL Integrated Sealed Bearing <br>                                     
                    Manillar BH Lite Flat 780mm<br>                                      
                    Puños BH Lock On     <br>                                 
                    Manetas cambio Shimano Deore 6100 12sp                                     
                    Cambio trasero Shimano XT 8100 12sp<br>                                     
                    Pedalier Shimano MT510 , 175mm <br>                                     
                    BB set Shimano<br>                                      
                    Cassette 10-50  <br>                                    
                    Cadena Shimano Deore <br>                                     
                    Freno delantero Shimano MT201 180mm<br>                                      
                    Freno trasero Shimano MT201 160mm  <br>                                     
                    Set ruedas BH Lite    <br>                              
                    Cubiertas Maxxis Ikon 2.20/ Continental Race  <br>                                 
                    Sillín Prologo Nago RS       <br>                               
                    Cierre sillín Expert 34,9mm     <br>            
                    Tija BH Lite 31,6mm, 420mm</p><br>
            </article> 
        </section>
        <h2 class="titulos__producto">productos relacionados</h2>
        <section class="main__product--section3">
            <article class="producto__relacionado">
                <img src="/img/22xtcadvancedsl291.png" alt="">
                    <h3>Giant XTC ADVANCED SL 29 1</h3>
                    <p>$$$$$$$$</p>
            </article>
            <article class="producto__relacionado">
                <img src="/img/22xtcadvancedsl291.png" alt="">
                    <h3>Giant XTC ADVANCED SL 29 1</h3>
                    <p>$$$$$$$$</p>
            </article>
            <article class="producto__relacionado">
                <img src="/img/22xtcadvancedsl291.png" alt="">
                    <h3>Giant XTC ADVANCED SL 29 1</h3>
                    <p>$$$$$$$$</p>
            </article>
            <article class="producto__relacionado">
                <img src="/img/22xtcadvancedsl291.png" alt="">
                    <h3>Giant XTC ADVANCED SL 29 1</h3>
                    <p>$$$$$$$$</p>
            </article>
        </section>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>
    </main>
</body>

</html>