footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorGrisClaro);
    background-position: 50%;
    border-top: solid 2px;
}

.text h3 {
    position: relative;
    left: 130px;
    margin-top: 10px;
}

.listas_footer {
    margin-top: 10px;
}

.listas_footer span {
    width: 50%;
    position: relative;
    right: -20px;
    font-size: 16px;
}

.listas_footer a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.rights {
    margin-top: 10px;
}

.rights span {
    position: relative;
    left: 20px;
}

.listas_footer span i,
.rights span i {
    font-size: 25px;
}

@media (min-width:768px) {
    footer {
        height: 80px;
    }
    .text h3 {
        position: relative;
        top: -12px;
        left: 330px;
    }

    .listas_footer {
        position: absolute;
        margin-top: 40px;
        left: 100px;
    }

    .listas_footer span {
        position: relative;
        left: 88px;
        top: -25px;
        font-size: 16px;
    }

    .rights {
        margin-top: 20px;
        position: absolute;
    }

    .rights span {
        position: relative;
        left: 200px;
        top: 20px;
    }
}
@media (min-width:1024px) {
    footer {
        height: 140px;
    }
    .text h3 {
        left: 460px;
    }
    .listas_footer {
        margin-top: 40px;
        position: relative;
        left: 125px;
    }
    .listas_footer a {
        margin-top: 70px;
    }

    .rights {
        margin-top: 90px;
        position: relative;
        left: -150px;
    }

    .rights span {
        left: 20px;
    }
}