@media (min-width:390px) {
    header {
        background-image: url(/img/ciclista-vista-lateral-silueta.jpg);
        height: 250px;
    }

    header nav .login_register,
    header nav .site {
        display: none;
    }

    header .logo img {
        width: 120px;
        padding: 5px;
        margin: 10px;
        position: relative;
        top: 5px;
        border: solid 2px var(--colorGrisOscuro);
        border-radius: 50%;
        box-shadow: 0px 0px 30px rgb(100, 100, 100);
    }

    header .search {
        position: relative;
        left: 330px;
        top: -60px;
        padding: 0;
        transform: translate(-50%, -50%);
    }

    header .search input {
        outline: none;
        width: 0;
        height: 30px;
        border: solid 1px var(--colorCelestin);
        border-radius: 8px;
        transition: all .7s ease;
    }

    header .search:hover input {
        width: 180px;
    }

    header .search .btn {
        position: relative;
        left: -5px;
        bottom: 30px;
        width: 30px;
        height: 30px;
        background: var(--colorCeleste);
        line-height: 30px;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        transition: all .7s ease;
    }

    header .search .btn i {
        font-size: 15px;
        cursor: pointer;
        line-height: 30px;
        transition: all .7s ease;
    }

    header .search:hover i {
        transform: rotate(-360deg);
    }

    header .search:hover .btn {
        left: 155px;
    }

    header .topnav .user {
        font-size: 30px;
        margin-right: 10px;
        position: relative;
        left: 320px;
        top: -190px;
    }

    header .topnav .burguer {
        font-size: 30px;
        margin-left: 10px;
        position: relative;
        left: 345px;
        top: -223px;
    }

    header .topnav .cart {
        font-size: 30px;
        position: relative;
        left: 340px;
        top: -180px;
        width: 800px;
    }

    .topnav .user a,
    .topnav .burguer a,
    .topnav .cart a {
        cursor: pointer;
        transition: color .5s ease;
    }

    .topnav .user a:hover,
    .topnav .burguer a:hover,
    .topnav .cart a:hover {
        color: var(--colorCeleste);
    }

    header .listas {
        position: relative;
        top: -160px;
        left: 110px;
    }

    header .listas a {
        margin: 10px;
        padding: 5px;
        color: black;
        text-decoration: none;
        border: solid 1px var(--colorGrisOscuro);
        border-radius: 8px;
        background-color: rgba(70, 146, 169, 0.499);
    }
}

@media (min-width:768px) {
    header .logo img {
        width: 160px;
    }

    header .search {
        width: 280px;
        left: 420px;
        top: -90px;
    }
    header .listas {
        width: 300px;
    }
    header .topnav .cart {
        width: 300px;
    }

    .burguer,
    .user {
        display: none;
    }

    header .topnav .cart i {
        position: relative;
        left: 350px;
        top: -10px;
    }

    header .listas {
        left: 290px;
    }

    header nav .login_register,
    header nav .site {
        display: contents;
    }

    header nav .login_register a {
        margin: 10px;
    }

    header nav .login_register a,
    header nav .site a {
        text-decoration: none;
        color: black;
        position: relative;
        top: -285px;
        left: 170px;
        margin-top: 10px;
        padding: 2px;
        border: solid 1px var(--colorGrisOscuro);
        border-radius: 8px;
        background-color: rgba(70, 146, 169, 0.499);
    }

}

@media (min-width:1024px) {
    header .logo img {
        width: 220px;
    }

    header .search {
        width: 300px;
        left: 520px;
        top: -120px;
    }

    .burguer,
    .user {
        display: none;
    }
    header .topnav .cart {
        width: 300px;
    }
    header .topnav .cart i {
        position: relative;
        left: 600px;
        top: -45px;
    }

    header .listas {
        right: 20px;
        width: 600px;
    }
    header .listas a {
        right: -300px;
    }

    header nav .login_register,
    header nav .site {
        display: contents;
    }

    header nav .login_register a {
        margin-left: 80px;
    }

    header nav .login_register a,
    header nav .site a {
        text-decoration: none;
        color: black;
        position: relative;
        top: -340px;
        left: 270px;
        margin-top: 20px;
        padding: 5px;
        border: solid 1px var(--colorGrisOscuro);
        border-radius: 8px;
        background-color: rgba(70, 146, 169, 0.499);
    }
}