.products__section {
    max-width: 500px;
    width: 85%;
    margin: 20px auto;
}

.products__form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;    
}

.products__form__box {
    width: 100%;
}

.products__form__box__label {
    width: 100%;
    padding-bottom: 5px;
}

.products__form__box__input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
    border: none;
}

.products__form__box--button{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.products__form__box--button a {
    text-decoration: none;
}

.products__button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2f615e;
    color: #ffffff;
    text-align: center;
}

@media (min-width: 1024px) {

    .products__section {
        max-width: 900px;
    }

    .products__form {
        justify-content: space-between;
    }
    
    .products__form__box {
        width: 45%;
    }
    

}