.form__login {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section__login {
    width: 100%;
    margin-bottom: 60px;
}
.login__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.login__titulo h1 {
    border-bottom: 2px solid var(--colorVerde);
}
.form__login__box {
    margin-bottom: 20px;
    width: 100%;
    padding: 0 50px;
}
.form__login__label {
    margin-bottom: 20px;
    margin-left: 5px;
}

.form__login__input{
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    background-color: var(--colorGrisClaro);

}
.form__login__position {
    position: relative;
}
.form__login__position span {
    position: absolute;
    right: 1px;
    top:39px;
}
.form__login__box p{
    display: flex;
    justify-content: end;
}
input[type="checkbox"]{
    margin-left: 5px;
}
.link__login {
    color: red;
    margin-left: 5px;
}
.form__login__button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form__login__button button{
    width: 60%;
    height: 50px;
    border-radius: 15px;
    background-color: var(--colorCeleste);
    border: none;
    margin-bottom: 10px;
}
@media (min-width:768px){
    .section__login {
        width: 50%;
        margin: 0 25%;
        margin-bottom: 60px;
    }
}