.register {
    font-family: var(--tipografiaGeneral);
}

.register__main {
    padding-top: 20px;
}
.register__main h2 {
    text-transform: uppercase;
    text-align: center;
}

.register__main__section {
    max-width: 390px;
    width: 75%;
    margin: 30px auto;
    border: black;
}

.register__form {
    display: flex;
    flex-wrap: wrap;
}

.register__form__box {
    margin-bottom: 10px;
    width: 100%;
    font-size: 13px;
}

.register__form__box--terms {
    font-size: 12px;
    margin-bottom: 15px;
}

.register__form__box__label {
    text-transform: uppercase;
    font-weight: 500;
}

.register__form__box__input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 8px;
    background-color: rgb(237, 237, 237);
    border: none;
}

.register__form__box--terms {
    margin: 0 0 10px 0;
}

.register__form__box--button {
    width: 100%;
    text-align: center;
    margin-top: 10px;

}

.button__register {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2f615e;
    color: #ffffff;
    text-align: center;
}

.register__form__box--registered {
    width: 100%;
    text-align: center;
}

.register__form__box--registered p {
    margin: 8px 0;

}

.link {
    text-decoration: none;
}

    /*desktop*/
@media (min-width: 1024px) {
    .register__main__section {
        max-width: 750px;
    }

    .register__form {
        justify-content: space-between;
    }

    .register__form__box {
        width: 47%;
        margin: 15px 0;
    }

    .register__form__box__input {
        padding: 13px 5px;
    }

    .register__form__box--terms {
        padding: 35px 0 0 0;
    }

    .register__form__box--button {

        margin-top: 25px;
    }

    .button__register {
        padding: 15px 20px;
    }

    .register__form__box--registered {
        width: 100%;
        text-align: center;
    }

}