<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <%- include('./partials/header') %>

        <body class="home">
            <main class="home__main">
                <section class="home__main__section">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide banner__home"><img src="/images/banner-bici.jpg" alt=""></div>
                            <div class="swiper-slide banner__home"><img src="/images/Banner-Categor_1.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/banner-mobile.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/Banner-Bicicletas-Monta.jpg" alt=""></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="autoplay-progress">
                            <svg viewBox="0 0 48 48">
                                <circle cx="24" cy="24" r="20"></circle>
                            </svg>
                            <span></span>
                        </div>
                    </div>
                </section>
                <section class="home__main__section--productos">
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Venzo-Raptor-Ex-R29-27-veloc-freno.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/22xtcadvancedsl291.png" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Venzo-Raptor-Ex-R29-27-veloc-freno.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/22xtcadvancedsl291.png" alt="">
                            <div class="producto__descripcion">
                                <h3>Giant XTC Advanced SL 29</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$5.063.215,00</h4>
                            </div>
                        </a>
                    </article>
                </section>
                <h2 class="home__titulos">Acompaña tu compra</h2>
                <section class="home__main__section--productos">
                    <article class="home__section__article--producto">
                        <a href="/productDetail"></a>
                        <img src="/images/1523883443_639903_1523884200_sumario_normal.jpg" alt="">
                        <div class="producto__descripcion">
                            <h3>Glangeh Luz Recargable</h3>
                            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                            <h4>$30.000</h4>
                        </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail"></a>
                        <img src="/images/2OJ3SEUBD5HZJBDBPFTDA42IMA.jpg" alt="">
                        <div class="producto__descripcion">
                            <h3>Casco Bicicleta Skate</h3>
                            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                            <h4>$22.400</h4>
                        </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Accesorios-para-Bicicletas.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Claxon moderlo bicicleta</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$15.200</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Ajustador rayos bicicleta .jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Ajustador rayos</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$16.300</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail"></a>
                        <img src="/images/1523883443_639903_1523884200_sumario_normal.jpg" alt="">
                        <div class="producto__descripcion">
                            <h3>Glangeh Luz Recargable</h3>
                            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                            <h4>$30.000</h4>
                        </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail"></a>
                        <img src="/images/2OJ3SEUBD5HZJBDBPFTDA42IMA.jpg" alt="">
                        <div class="producto__descripcion">
                            <h3>Casco Bicicleta Skate</h3>
                            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                            <h4>$22.400</h4>
                        </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Accesorios-para-Bicicletas.jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Claxon moderlo bicicleta</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$15.200</h4>
                            </div>
                        </a>
                    </article>
                    <article class="home__section__article--producto">
                        <a href="/productDetail">
                            <img src="/images/Ajustador rayos bicicleta .jpg" alt="">
                            <div class="producto__descripcion">
                                <h3>Ajustador rayos</h3>
                                <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
                                <h4>$16.300</h4>
                            </div>
                        </a>
                    </article>
                </section>
            </main>
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                const progressCircle = document.querySelector(".autoplay-progress svg");
                const progressContent = document.querySelector(".autoplay-progress span");
                var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 30,
                    centeredSlides: true,
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    on: {
                        autoplayTimeLeft(s, time, progress) {
                            progressCircle.style.setProperty("--progress", 1 - progress);
                            progressContent.textContent = `${Math.ceil(time / 1000)}s`;
                        }
                    }
                });
            </script>
        </body>
        <%- include('./partials/footer') %>

</html>