<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title></title>
</head>
<header>
  <div class="logo">
    <a href="/">
      <img src="/images/Posiblelogogp82.jpeg" alt="logoimage">
    </a>
  </div>
  <nav>
    <article class="topnav">
      <div class="search">
        <input type="text" placeholder="Que estas buscando?">
        <div class="btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
      <div class="user">
        <a href="/login">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
      <div class="burguer">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="cart">
        <a href="/productCart">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </article>
    <div class="listas">
      <a href="">Ropa</a>
      <a href="">Cascos</a>
      <a href="">Bicis</a>
    </div>
    <div class="site">
      <span>
        <a href="">Sobre nosotros</a>
        <a href="">Medios de pago</a>
        <a href="">Contacto</a>
        <a href="">Ayuda</a>
      </span>
    </div>
    <div class="login_register">
      <span>
        <a href="/login">Ingresa</a>
        <a href="/register">Registrate</a>
      </span>
    </div>
  </nav>
</header>

<body class="productDetail">
  <main class="main__product">
    <section class="main__product--section1">
      <article class="main__product--producto">
        <!-- <img src="/img/22xtcadvancedsl291.png" alt=""> -->
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/22xtcadvancedsl291.png" />
            </div>
            <div class="swiper-slide">
              <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="/images/GIANT-XTC-ADVANCED-SL-29-1-BIKE-3.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper banner__product__detail">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/22xtcadvancedsl291.png" />
            </div>
            <div class="swiper-slide">
              <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="/images/GIANT-XTC-ADVANCED-SL-29-1-BIKE-3.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" />
            </div>
          </div>
        </div>
        <!--  -->
      </article>
      <article class="main__product--descripcion">
        <h3>Giant XTC ADVANCED SL 29 1</h3>
        <h2>$5.063.215,00</h2>
        <p>24 CUOTAS SIN INTERES DE $889.353,71</p>
        <div class="box__compra">
          <div class="box__pedido">
            <label class="box__pedido--label" for="">Rodado</label>
            <select class="box__pedido--input" name="" id="">
              <option value="">Elige un rodado</option>
              <option value="">19</option>
              <option value="">20</option>
              <option value="">25</option>
              <option value="">29</option>
            </select>
            <!-- <input class="box__pedido--input" type="text"> -->
          </div>
          <div class="box__pedido">
            <label class="box__pedido--label" for="">Color</label>
            <select class="box__pedido--input" name="" id="">
              <option value="">Elige un color</option>
              <option value="">Verde</option>
              <option value="">Rojo</option>
              <option value="">Azul</option>
              <option value="">Blanco</option>
            </select>
            <!-- <input class="box__pedido--input" type="text"> -->
          </div>
          <!-- </div> -->
          <div class="box__agregar">
            <div class="box__agregar--botones">
              <button class="box__agregar--button1">-</button>
              <p>1</p>
              <button class="box__agregar--button2">+</button>
            </div>
            <button class="box__agregar--button3">Agregar al carrito</button>
          </div>
          <div class="box__envio">
            <input type="text" placeholder=" Codigo Postal">
            <button>Calcular</button>
          </div>
        </div>
      </article>
    </section>
    <h2 class="titulos__producto">Caracteristicas</h2>
    <section class="main__product--section2">
      <article>
        <h3>Giant XTC ADVANCED SL 29 1</h3>
        <p>
          Cuadro Expert Alu 29", 148x12, Integrated Headset<br>
          Horquilla Rock Shox Judy RL Remote Lock 100mm <br>
          Potencia BH SL 80mm, 31,8mm, +/-6º<br>
          Dirección BH SL Integrated Sealed Bearing <br>
          Manillar BH Lite Flat 780mm<br>
          Puños BH Lock On <br>
          Manetas cambio Shimano Deore 6100 12sp
          Cambio trasero Shimano XT 8100 12sp<br>
          Pedalier Shimano MT510 , 175mm <br>
          BB set Shimano<br>
          Cassette 10-50 <br>
          Cadena Shimano Deore <br>
          Freno delantero Shimano MT201 180mm<br>
          Freno trasero Shimano MT201 160mm <br>
          Set ruedas BH Lite <br>
          Cubiertas Maxxis Ikon 2.20/ Continental Race <br>
          Sillín Prologo Nago RS <br>
          Cierre sillín Expert 34,9mm <br>
          Tija BH Lite 31,6mm, 420mm</p><br>
      </article>
    </section>
    <h2 class="titulos__producto">Productos relacionados</h2>
    <section class="main__product--section3">
      <article class="producto__relacionado">
        <a href="/">
          <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
          <div class="producto__descripcion_home">
            <h3>Giant XTC Advanced SL 29</h3>
            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
            <h4>$$$</h4>
          </div>
        </a>
      </article>
      <article class="producto__relacionado">
        <a href="/">
          <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
          <div class="producto__descripcion_home">
            <h3>Giant XTC Advanced SL 29</h3>
            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
            <h4>$$$</h4>
          </div>
        </a>
      </article>
      <article class="producto__relacionado">
        <a href="/">
          <img src="/images/Giant_XTC_Advanced_SL_29_1_01a.jpg" alt="">
          <div class="producto__descripcion_home">
            <h3>Giant XTC Advanced SL 29</h3>
            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
            <h4>$$$</h4>
          </div>
        </a>
      </article>
      <article class="producto__relacionado">
        <a href="/">
          <img src="/images/xtc_adv_sl_29_showcase_gallery01.jpg" alt="">
          <div class="producto__descripcion_home">
            <h3>Giant XTC Advanced SL 29</h3>
            <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p>
            <h4>$$$</h4>
          </div>
        </a>
      </article>
    </section>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
    </script>
  </main>
  <footer>
    <div class="text">
      <h3>CICLOMUNDO</h3>
    </div>
    <div class="listas_footer">
      <span>
        <a href="">Terminos y condiciones</a>
        <a href="">Chatea con nosotros</a>
        <i class="fa-brands fa-whatsapp"></i>
      </span>
    </div>
    <div class="rights">
      <span>
        2023 - Todos los derechos reservados
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </span>
    </div>
    <div class="newsletter-container">
      <h2>Newsletter</h2>
      <form action="procesar_formulario" method="post">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
        <button type="submit">Suscribirse</button>
      </form>
    </div>
  </footer>
</body>

</html>