<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Registro</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="/images/Posiblelogogp82.jpeg" alt="logoimage">
        </a>
    </div>
    <nav>
        <article class="topnav">
            <div class="search">
                <input type="text" placeholder="Que estas buscando?">
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="user">
                <a href="/login">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="cart">
                <a href="/productCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </article>
        <div class="listas">
            <a href="">Ropa</a>
            <a href="">Cascos</a>
            <a href="">Bicis</a>
        </div>
        <div class="site">
            <span>
                <a href="">Sobre nosotros</a>
                <a href="">Medios de pago</a>
                <a href="">Contacto</a>
                <a href="">Ayuda</a>
            </span>
        </div>
        <div class="login_register">
            <span>
                <a href="/login">Ingresa</a>
                <a href="/register">Registrate</a>
            </span>
        </div>
    </nav>
</header>

<body class="register">
    <main class="register__main">
        <h2>crear cuenta</h2>
        <section class="register__main__section">
            <form action="" class="register__form">
                <div class="register__form__box">
                    <label class="register__form__box__label" class="register__form__box__label"
                        for="name">Nombre</label>
                    <input class="register__form__box__input" type="text" id="name" name="name"
                        placeholder="Ingresá tu nombre">
                </div>
                <div class="register__form__box">
                    <label class="register__form__box__label" for="surname">Apellido</label>
                    <input class="register__form__box__input" type="text" id="surname" name="surname"
                        placeholder="Ingresá tu apellido">
                </div>
                <div class="register__form__box">
                    <label class="register__form__box__label" for="email">Email</label>
                    <input class="register__form__box__input" type="email" id="email" name="email"
                        placeholder="correo@correo">
                </div>
                <div class="register__form__box">
                    <label class="register__form__box__label" for="password">Contraseña</label>
                    <input class="register__form__box__input" type="text" id="password" name="password"
                        placeholder="Ingresá tu contraseña">
                </div>
                <div class="register__form__box">
                    <label class="register__form__box__label" for="password2">Confirmar contraseña</label>
                    <input class="register__form__box__input" type="text" id="password2" name="password2"
                        placeholder="Repetir contraseña">
                </div>
                <div class=" register__form__box register__form__box--terms">
                    <input type="checkbox" id="terms" name="terms" placeholder="Repetir contraseña">
                    <label for="terms">He leído y acepto los <a class="link" href="">términos y condiciones</a></label>
                </div>
                <div class="register__form__box--button">
                    <button class="button__register" type="submit">REGISTRARME</button>
                </div>
                <div class="register__form__box register__form__box--registered">
                    <p>¿Ya estás registrado? <a class="link" href="/login">Ingresá</a></p>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="text">
            <h3>CICLOMUNDO</h3>
        </div>
        <div class="listas_footer">
            <span>
                <a href="">Terminos y condiciones</a>
                <a href="">Chatea con nosotros</a>
                <i class="fa-brands fa-whatsapp"></i>
            </span>
        </div>
        <div class="rights">
            <span>
                2023 - Todos los derechos reservados
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </span>
        </div>
        <div class="newsletter-container">
            <h2>Newsletter</h2>
            <form action="procesar_formulario" method="post">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>
</body>

</html>