<footer>
    <div class="text">
        <h3>CICLOMUNDO</h3>
    </div>
    <div class="listas_footer">
        <span>
            <a href="">Terminos y condiciones</a>
            <a href="">Chatea con nosotros</a>
            <i class="fa-brands fa-whatsapp"></i>
        </span>
    </div>
    <div class="rights">
        <span>
            2023 - Todos los derechos reservados
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </span>
    </div>
    <div class="newsletter-container">
        <h2>Newsletter</h2>
        <form action="procesar_formulario" method="post">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>
            <button type="submit">Suscribirse</button>
        </form>
    </div>
</footer>