<header>
    <div class="logo">
        <a href="/">
            <img src="/images/Posiblelogogp82.jpeg" alt="logoimage">
        </a>
    </div>
    <nav>
        <article class="topnav">
            <form class="search" action="home/productos/buscar" method="GET">
                <input  type="search" placeholder="Buscar producto" name="keyword">
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
            <!-- <div class="search">
                <input type="text" placeholder="Que buscas?">
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div> -->
            <div class="user">
                <a href="/login">
                <i class="fa-solid fa-user"></i>
            </a>
            </div>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="cart">
                <a href="/carrito">
                <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </article>
        <div class="listas">
            <a href="">Ropa</a>
            <a href="">Cascos</a>
            <a href="">Bicis</a>
        </div>
        <div class="site">
            <span>
                <a href="">Sobre nosotros</a>
                <a href="">Medios de pago</a>
                <a href="">Contacto</a>
                <a href="/users/perfil">Perfil</a>
            </span>
        </div>
        <div class="login_register">
            <span>
                <a href="/users/login">Ingresa</a>
                <a href="/users/register">Registrate</a>
                <a href="/admin">Dashboard</a>
            </span>
        </div>
    </nav>
</header>