
<article class="home__section__article--producto">
 
    <a href="products/product-detail/<%= product.id %>">
    <img src="/images/productos/<%= product.mainImg[0] || 'Producto-sin-imagen.jpg' %>" alt="">
    <div class="producto__descripcion">
        <h3><%= product.nombre %></h3>
        <!-- a revisar -->
        <!-- <p>20% con tarjeta bbva <i class="fa-solid fa-credit-card"></i></p> -->
        <h4>$<%= toThousand(product.precio) %></h4>
    </div>
    </a>

</article>
    