<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
	title : 'Ingreso'
}) %>
<%- include('../partials/header')  %>

<body class="login">
    <main class="main__login">
        <div class="login__titulo">
            <h1>Inicio de sesion</h1>
        </div>
        <section class="section__login">
            <form class="form__login" action="">
                <div class="form__login__box">
                    <label class="form__login__label" for="">Email</label>
                    <input class="form__login__input" type="email" placeholder="Escriba su email">
                </div>
                <div class="form__login__box">
                    <div class="form__login__position">
                        <label class="form__login__label" for="">Contraseña</label>
                        <input class="form__login__input" type="password" placeholder="Escriba su contraseña"><span><i
                                class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>
                <div class="form__login__box">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Recordame</label>
                    <p>¿Olvidaste tu contraseña? <a class="link__login" href="/"> Haz clic aqui</a></p>
                </div>

                <div class="form__login__button">
                    <button type="submit">Iniciar sesion</button>
                </div>
                <div class="form__login__button">
                    <p>¿No tenés cuenta aún?<a class="link__login" href="/users/register">Crear cuenta </a></p>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>